body {
	font-size: 3vh;
	font-family: arial;
}


/*TOOLBAR*/
.button {
	color: blue;
	position: fixed;
	left: 2vw;
	top: 3vh;
	font-size: 5vh;
	font-family: lft-etica, sans-serif;
	font-weight: 600;
	font-style: normal;
}




/*HEADINGS AND INTRODUCTION*/

h1 {
	font-size: 14.8vh;
	text-align: left;
	font-family: lft-etica-compressed, sans-serif;
	color: blue;
	margin-bottom: 10vh;
}

h2 {
	text-align: left;
	margin-top: 2vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

h3 {
	text-align: center;
	color: blue;
	font-family: arial;
	font-size: 3vh;
	margin-top: 25vh;
	margin-bottom: 20vh;
}

h4 {
	text-align: right;
	margin-right: 3vw;
	margin-top: 4vh;
	margin-bottom: 15vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

.margin {
	width: 70%;
	margin: auto;
}

.content {
	width: 100%;
}

.mainimage {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 10vh;
}


/*WIDTH VALUES*/
.width1 {
	width: 35%
}

.width2 {
	width: 35%
	
}



/*CONTENT*/

.intro {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2vh;
	margin-left: 15vw;
	margin-right: 15vw;
}

.sidenote {
	font-family: lft-etica, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 4vh;
	line-height: 4.5vh;
	text-indent: 5vw;
}

.middleleft {
	margin-top: 5vh;
	margin-left: 15vw;
	margin-right: 50vw;
}

.middle {
	margin-left: 51vw;
	margin-right: 15vw;
	margin-top: -27vh;
}

.w1of2 {
	width: 50%;
}

.text {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3vh;
	line-height: 3.5vh;
	text-indent: 5vw;
}

.pullquote {
	font-family: lft-etica, sans-serif;
	font-weight: 600;
	font-style: italic;
	color: blue;
	font-size: 4vh;
	line-height: 5vh;
}

.one {
	margin-left: 15vw;
	margin-right: 32.5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.two {
	margin-left: 32.5vw;
	margin-right: 15vw;
	margin-top: 8vh;
	margin-bottom: 8vh;
}

.centre {
	margin-left: 32.5vw;
	margin-right: 32.5vw;
	margin-bottom: 3vh;
}

.slab {
	margin-left: 32.5vw;
	margin-right: 15vw;
	margin-bottom: 10vh;
}

.full {
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 3vh;
}

.end {
	margin-left: 32.5vw;
	margin-right: 32.5vw;
	margin-top: 5vh;
}

.pic1 {

}

.pic2 {

}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

.button:hover {
	cursor: pointer;
}

.bttn-close:hover {
	cursor: pointer;
}

.sidebar {
	height: 100vh;
	width: 30vw;
	background-color: gainsboro;
	top: 0px;
	left: -35vw;
	position: fixed;
	padding: 3vh;
	transition: 1s;
/*	overflow: scroll;*/
}

.sidebar.active {
	top: 0px;
	left: 0px;
	transition: 1s;
}

.bttn-close {
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
	text-align: right;
	margin-top: 1vh;
	margin-bottom: 15vh;
}

.bttn {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
}

.bttn-about {
	margin-bottom: 5vh;
}

.btn {
	font-family: lft-etica-condensed, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
	padding-top: 3vh;
}

.art {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
	padding-bottom: 3vh;
	border-bottom: 1px solid black;
}

.art3 {
	border: none;
}





