body {
	font-size: 3vh;
	font-family: arial;
}


/*TOOLBAR*/
.button {
	position: fixed;
	left: 2vw;
	top: 3vh;
}

.button:hover {
	cursor: pointer;
}

.bttn-close:hover {
	cursor: pointer;
}

.sidebar {
	height: 100vh;
	width: 30vw;
	background-color: gainsboro;
	top: 0px;
	left: -35vw;
	position: fixed;
	padding: 3vh;
	transition: 1s;
/*	overflow: scroll;*/
}

.sidebar.active {
	top: 0px;
	left: 0px;
	transition: 1s;
}

.bttn-close {
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
	text-align: right;
	margin-top: 1vh;
	margin-bottom: 15vh;
}

.bttn-home {
	margin-bottom: 5vh;
}

.bttn {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
}

.btn {
	font-family: lft-etica-condensed, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
	padding-top: 3vh;
}

.art {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.5vh;
	line-height: 4.5vh;
	padding-bottom: 3vh;
	border-bottom: 1px solid black;
}

.art3 {
	border: none;
}





/*HEADINGS AND INTRODUCTION*/

h1 {
	font-size: 14.5vh;
	text-align: left;
	font-family: lft-etica-compressed, sans-serif;
	color: blue;
}

h2 {
	text-align: left;
	margin-top: 2vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

h3 {
	text-align: center;
	color: blue;
	font-family: arial;
	font-size: 3vh;
	border: 5px solid blue;
	margin: 100px;
	padding: 20px;
	border-radius: 30px;
}

.tabs {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.column {
	width: 50%;
	justify-content: center;
}

h4 {
	text-align: right;
	margin-right: 3vw;
	margin-top: 4vh;
	margin-bottom: 15vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

h5 {
	font-size: 10vh;
	text-align: left;
	font-family: lft-etica-compressed, sans-serif;
	color: blue;
}

.margin {
	width: 70%;
	margin: auto;
}

.content {
	width: 100%;
}

.mainimage {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 10vh;
	margin-top: 10vh;
}





/*WIDTH VALUES*/
.width1 {
	width: 50%;
}

.width2 {
	width: 75%;
}

.width3 {
	width: 100%;
}





/*LINKS*/
a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}





/*CONTENT*/

.intro {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2vh;
}

.note {
	font-family: lft-etica, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.5vh;
	line-height: 4.5vh;
	text-indent: 5vw;
	padding: 4vw;
}

.text {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2vh;
	line-height: 3.5vh;
	text-indent: 5vw;
	padding: 4vw;
}

.quote {
	font-family: lft-etica, sans-serif;
	font-weight: 600;
	font-style: italic;
	color: blue;
	font-size: 3vh;
	line-height: 5vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.center {
	margin-left: 17.5vw;
}

.slab {
	margin-left: 17.5vw;
	margin-bottom: 10vh;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col {
	width: 50%;
}

.pic1 {
	width: 100%;
	max-width: 70vw;
	margin-bottom: 10vh;
}

.pic2 {
	width: 70%;
	margin-left: 10vw;
	margin-top: 10vh;
}

.right {
	margin-left: 36vw;
	margin-top: -27vh;
	width: 100%;
}

.right2 {
	margin-left: 36vw;
	margin-top: -10vh;
	width: 100%;
}

.text1 {
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 2vh;
	line-height: 3.5vh;
	text-indent: 5vw;
	padding-left: 4vw;
}

.text2 {
	visibility: hidden;
}

.text2.active {
	visibility: visible;
}

.col3 {
	visibility: hidden;
}

.col3.active {
	visibility: visible;
}

.circle {
	width: 50px;
	margin-left: 5vw;
}

.circle2 {
	width: 50px;
	margin-left: 5vw;
	margin-top: 40vh;
}

.final {
	margin-left: 17.5vw;
	margin-top: 10vh;
	width: 100%;
}

.full {
	margin-left: 17.5vw;
	padding-left: 0vw;
}

.side {
	margin-left: 35vw;
}



