body {
	font-size: 3vh;
	font-family: arial;
}

h1 {
	font-size: 15vh;
	text-align: center;
	font-family: lft-etica-compressed, sans-serif;
	color: blue;
	margin-bottom: 2vh;
}

h2 {
	text-align: left;
	margin-left: 15vw;
	margin-top: 2vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

h3 {
	text-align: center;
	color: blue;
	font-family: arial;
	font-size: 3vh;
	margin-top: 25vh;
	margin-bottom: 20vh;
}

h4 {
	text-align: right;
	margin-right: 3vw;
	margin-top: 4vh;
	margin-bottom: 15vh;
	color: blue;
	font-family: arial;
	font-size: 2.5vh;
}

.title {
	text-align: right;
	margin-right: 3vw;
	margin-top: 3vh;
}

.plus {
	font-size: 30vh;
	position: fixed;
	top: -40px;
	left: 40px;	
}

.plus.active {
	display: none;
}

.plus:hover {
	cursor: pointer;
}

.options {
	position: fixed;
	bottom: 0px;
	left: -60vw;
	transition: 1s;
}

.options.active {
	position: fixed;
	bottom: 0px;
	left: 0px;
	transition: 1s;
}

.tab {
	padding: 2vh;
	margin-left: 2vw;
	font-size: 15vh;
	text-align: center;
	font-family: lft-etica-compressed, sans-serif;
	margin-bottom: 2vh;
	text-align: left;
}

a:link {
	text-align: left;
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: white;
	background-color: blue;
}

a:active {
	text-decoration: none;
	color: yellow;
}

.note1 {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 28vw;
	color: black;
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3vh;
	line-height: 3.5vh;
	text-align: left;
	margin: 5vh;
}

.note1.active {
	visibility: visible;
}

.note2 {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 28vw;
	color: black;
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3vh;
	line-height: 3.5vh;
	text-align: left;
	margin: 5vh;
}

.note2.active {
	visibility: visible;
}

.note3 {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 28vw;
	color: black;
	font-family: lft-etica, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3vh;
	line-height: 3.5vh;
	text-align: left;
	margin: 5vh;
}

.note3.active {
	visibility: visible;
}

.point {
	padding-bottom: 2vh; 
}





