.phrase1 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: red;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
	/*border: 5px red;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: redone 10s linear infinite;
	animation-delay: 2s;
}

@keyframes redone {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.phrase2 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: blue;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
/*	border: 5px blue;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: bluetwo 10s linear infinite;
	animation-delay: 3s;
}

@keyframes bluetwo {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.phrase3 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: aqua;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
	/*border: 5px aqua;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: aquaone 10s linear infinite;
	animation-delay: 4s;
}

@keyframes aquaone {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.phrase4 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: red;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
	/*border: 5px red;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: redtwo 10s linear infinite;
	animation-delay: 5s;
}

@keyframes redtwo {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.phrase5 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: blue;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
	/*border: 5px blue;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: blueone 10s linear infinite;
	animation-delay: 6s;
}

@keyframes blueone {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.phrase6 {
	font-family: arial black;
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	background-color: aqua;
	width: 900px;
	padding: 10px;
	padding-bottom: 20px;
	/*border: 5px aqua;*/
	margin-left: 150px;
	margin-top: 80px;
	animation: aquatwo 10s linear infinite;
	animation-delay: 7s;
}

@keyframes aquatwo {
	0% {
		opacity: 100%;
	} 
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.date {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 100px;
}

.mada {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	/*opacity: 90%;*/
}

.title {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	/*opacity: 80%;*/
}

.date2 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 70%;
}

.mada2 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 60%;
}

.title2 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: right;
	padding-top: 10px;
	opacity: 50%;
}

.date3 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 40%;
}

.mada3 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 30%;
}

.title3 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: right;
	padding-top: 10px;
	opacity: 20%;
}

.date4 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 10%;
}

.mada4 {
	font-family: courier;
	font-size: 50px;
	color: red;
	text-align: left;
	padding-top: 10px;
	opacity: 5%;
}

