body {
	background-color: black;
}

.mada {
	font-size: 10vw;
	font-family: arial;
	font-weight: bold;
	animation: fontcolor 20s infinite;
	text-align: right;
	padding-top: 20px;
	padding-right: 20px;
	letter-spacing: 40px;
	color: tomato;
}

@keyframes fontcolor {
	0% {
		transform: skew(180deg);
	}
	50% {
		transform: skew(-180deg);
	}
	100% {
		transform: skew(180deg);
	}
}

.phrase1 {
	font-size: 50px;
	font-family: times;
	font-style: italic;
	padding: 25px;
	width: 250px;
	text-align: center;
	color: white;
	background-color: cadetblue;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 150px;
	left: 100px;
	transform: rotate(-20deg);
}

.phrase2 {
	font-size: 50px;
	font-family: times;
	font-style: italic;
	padding: 25px;
	width: 350px;
	background-color: white;
	margin-bottom: 30px;
	text-align: center;
	color: green;
	position: fixed;
	top: 350px;
	left: 300px;
	transform: rotate(10deg);
}

.phrase3 {
	font-size: 50px;
	font-family: times;
	font-style: italic;
	padding: 25px;
	width: 300px;
	background-color: darkseagreen;
	margin-bottom: 30px;
	text-align: center;
	color: darkslategrey;
	position: fixed;
	top: 500px;
	left: 200px;
	transform: rotate(-5deg);
}

.date {
	font-size: 5vh;
	font-family: arial;
	font-style: bold;
	letter-spacing: 40px;
	text-align: right;
	padding-right: 20px;
	color: white;
}

.title {
	font-size: 5vh;
	font-family: arial;
	text-align: right;
	padding-right: 50px;
	color: white;
	padding-top: 450px;
}

.poster {
	font-size: 7vh;
	font-family: times;
	font-style: italic;
	text-align: right;
	padding-right: 20px;
	color: white;
}
