.name {
	font-size: 10vh;
	font-family: times;
	font-style: italic;
	padding: 25px;
	width: 50vw;
	text-align: center;
	color: white;
	background-color: limegreen;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 30px;
	left: 50px;
	transform: rotate(-12deg);
}

.course {
	font-size: 400px;
	font-family: Arial;
	color: black;
	text-align: left;
	padding: 20px;
}

.year {
	font-size: 8vh;
	font-family: arial black;
	font-style: bold;
	padding: 4vh;
	width: 18vw;
	border-radius: 50%;
	text-align: center;
	color: gold;
	border: 20px solid yellow;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 100px;
	right: 50px;
	transform: rotate(5deg);
}

.link1 {
	font-size: 5vh;
	font-family: courier;
	padding: 25px;
	width: 30vw;
	text-align: center;
	color: white;
	background-color: orchid;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 260px;
	right: 350px;
	transform: rotate(5deg);
}

.sem {
	font-size: 6vh;
	font-family: arial black;
	font-style: bold;
	padding: 4vh;
	width: 30vw;
	border-radius: 50%;
	text-align: center;
	color: blue;
	border: 30px solid blue;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 370px;
	left: 150px;
	transform: rotate(-6deg);
}

.link2 {
	font-size: 15vh;
	font-family: arial;
	padding: 25px;
	width: 7vw;
	height: 7vw;
	text-align: center;
	color: white;
	background-color: aqua;
	margin-bottom: 30px;
	margin-top: 80px;
	position: fixed;
	top: 450px;
	right: 120px;
}

a:link a {
  color: white;
}

a:visited a {
  color: white;
}

a:hover a {
  color: yellow;
}

.column {
	font-family: courier;
	font-size: 60px;
	color: black;
	background-color: black;
	display: inline-block;
	text-align: center;
	margin: 10px;
	padding: 40px;
	width: 48%;
}






