body {
	font-size: 7vh;
	font-family: times;
	cursor: cell;
}

h1 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 10vh;
	text-align: left;
	margin-top: 2vh;
	margin-left: 2vw;
}

h2 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-size: 5vh;
	text-align: left;
	margin-top: 25vh;
	margin-left: 2.5vw;
}

h3 {
	font-size: 3vh;
	text-align: left;
	width: 62%;
	margin-left: 2vw;
	margin-top: 3vh;
}

h4 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-size: 4.5vh;
	display: table;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.heading {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.caption {
	width: 40%;
	transition: 0.5s;
	font-size: 4vh;
	position: fixed;
	top: 2vh;
	left: 2vw;
	z-index: -1;
	visibility: hidden;
}

.caption.active {
	transition: 0.5s;
	top: 16vh;
	left: 2vw;
	visibility: visible;
}

.bttn-close {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 4vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 2.5vw;
	cursor: pointer;
}

p {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 2.5vh;
	line-height: 3.5vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: 2vh;
	margin-bottom: 3vh;
}

.bttn-about {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 2.5vw;
	position: fixed;
	right: 0vw;
	top: 0vh;
	cursor: pointer;
	z-index: 3;
}

.bttn-home {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 7.5vw;
	position: fixed;
	right: 0vw;
	top: 0vh;
	cursor: pointer;
	text-decoration: none;
	color: black;
	z-index: 4;
}

.bttn-home a:hover {
	font-style: normal;
}

.sidebar {
	background-color: black;
	height: 100vh;
	width: 33%;
	position: fixed;
	top: 0vh;
	right: -50vw;
	transition: 1.5s;
	z-index: 100;
	color: white;
	overflow: scroll;
}

.sidebar.active {
	position: fixed;
	top: 0vh;
	right: 0vw;
	transition: 1.5s;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:active {
	text-decoration: none;
	color: black;
}

.bttn {
	font-size: 13vh;
	margin-right: 2vw;
}

.space {
	height: 15vh;
}



/*IMAGERY & CONTENT*/
img {
	display: block;
 	width: 100%;
}

.row {
/*  height: 50vh;*/
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.col {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  /*border: black 1px solid;  */
}

.vbottom {
  align-items: flex-end;
}

.vtop {
  align-items: flex-start;
}

.vcenter {
  align-items: center;
}

.hcenter {
  justify-content: center;
}

.hright {
  justify-content: flex-end;
}

.hleft {
  justify-content: flex-start;
}

.row1 {
	margin-bottom: 35vh;
}

.im1 {
	width: 60%;
	margin-bottom: -10vh;
}

.im2 {
	width: 80%;
	margin-bottom: -25vh;
	margin-right: -5vw;
	z-index: 2;
}

.black {
	filter: contrast(0.75);	
}

.black:hover {
	filter: contrast(1);
}

.im3 {
	width: 130%;
	margin-left: -10vw;
	margin-right: 2vw;
}

.text1 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: italic;	
	font-size: 4.5vh;
	text-align: right;
	margin-right: 12vw;
	margin-bottom: 18vh;
}

.row2 {
	margin-top: 10vh;
}

.col5 {
	padding-bottom: 12vh;
	padding-right: 3vw;
}

.im4 {
	width: 70%;
	margin-top: -10vh;
	margin-right: -5vw;	
}

.toptext {
	position: relative;
	z-index: 6;
	pointer-events: none;
}

.im5 {
	width: 90%;
}

.text2 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5.5vh;
	margin-bottom: -25vh;
	margin-left: 5vw;
}

.text3 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5.5vh;	
}

.row3 {
	margin-top: 8vh;
}

.im6 {
	width: 55%;
}

.im7 {
	width: 55%;
}

.text4 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.5vh;
	text-align: left;
	line-height: 5.5vh;
	padding-bottom: 10vh;
	margin-left: -3vw;
}

.text5 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.5vh;
	text-align: left;
	margin-left: 3vw;
	padding-top: 10vh;
}

.text6 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	padding-top: 15vh;
}

.im8 {
	width: 50%;
	margin-bottom: -25vh;
	margin-left: -13vw;
	z-index: 100;
}

.im9 {
	width: 110%;
	margin-left: -10vw;
	margin-top: 15vh;
}

.text7 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.5vh;
	margin-top: 55vh;
}

.text8 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	margin-left: 15vw;
	margin-bottom: 15vh;
}

.im10 {
	width: 60%;
	margin-top: 7vh;
}

.im11 {
	width: 90%;
	margin-top: 15vh;
}

.row6 {
	margin-bottom: 8vh;
}

.text9 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 5.5vh
	line-height: 7vh;
	margin-right: 2vw;
}

.im12 {
	width: 30%;
	margin-top: -10vh;
	margin-left: 10vw;
	margin-bottom: -10vh;
	z-index: -1;
}

.im13 {
	width: 80%;
	margin-top: -15vh;
	margin-left: 5vw;
}

.im14 {
	width: 70%;
	margin-right: -10vw;
}

.text9 {
	margin-top: -12vh;
}

.postcode {
	opacity: 0;
	font-size: 5vh;
	margin-top: 2vh;
}

.image:hover .postcode {
	opacity: 1;
}

.im3:hover .postcode {
	opacity: 1;
	text-align: right;
}

.im8:hover .postcode {
	opacity: 1;
	text-align: right;
}

.content1 {
	background-color: white;
}

.content2 {
	background-color: white;
}
