body {
	font-size: 7vh;
	font-family: times;
	cursor: cell;
}

h1 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 10vh;
	text-align: left;
	margin-top: 2vh;
	margin-left: 2vw;
}

h2 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-size: 5vh;
	text-align: left;
	margin-top: 25vh;
	margin-left: 2.5vw;
}

h3 {
	font-size: 3vh;
	text-align: left;
	width: 62%;
	margin-left: 2vw;
	margin-top: 3vh;
}

h4 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-size: 4.5vh;
	display: table;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.heading {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.dynamic {
	margin-top: 4vh;
	margin-left: 2vw;
	width: 5%;
	height: 5%;
}

.caption {
	width: 40%;
	transition: 0.5s;
	font-size: 4vh;
	position: fixed;
	top: 2vh;
	left: 2vw;
	z-index: -1;
	visibility: hidden;
}

.caption.active {
	transition: 0.5s;
	top: 16vh;
	left: 2vw;
	visibility: visible;
}

.bttn-close {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 4vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 2.5vw;
	cursor: pointer;
}

p {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 2.5vh;
	line-height: 3.5vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: 2vh;
	margin-bottom: 3vh;
}

.bttn-about {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 2.5vw;
	position: fixed;
	right: 0vw;
	top: 0vh;
	cursor: pointer;
	z-index: 3;
}

.bttn-home {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	text-align: right;
	margin-top: 3vh;
	margin-right: 7.5vw;
	position: fixed;
	right: 0vw;
	top: 0vh;
	cursor: pointer;
	text-decoration: none;
	color: black;
	z-index: 4;
}

.bttn-home a:hover {
	font-style: normal;
}

.sidebar {
	background-color: black;
	height: 100vh;
	width: 33%;
	position: fixed;
	top: 0vh;
	right: -50vw;
	transition: 1.5s;
	z-index: 100;
	color: white;
	overflow: scroll;
}

.sidebar.active {
	position: fixed;
	top: 0vh;
	right: 0vw;
	transition: 1.5s;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
	font-style: italic;
}

a:active {
	text-decoration: none;
	color: black;
}

.bttn {
	font-size: 13vh;
	margin-right: 2vw;
}

.space {
	height: 15vh;
}



/*IMAGERY & CONTENT*/

img {
	display: block;
 	width: 100%;
}

.row {
  /*height: 50vh;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.col {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  /*border: black 1px solid;  */
}

.vbottom {
  align-items: flex-end;
}

.vtop {
  align-items: flex-start;
}

.vcenter {
  align-items: center;
}

.hcenter {
  justify-content: center;
}

.hright {
  justify-content: flex-end;
}

.hleft {
  justify-content: flex-start;
}

.postcode {
	opacity: 0;
	font-size: 5vh;
	margin-top: 2vh;
}

.image:hover .postcode {
	opacity: 1;
}

.im1 {
	width: 130%;
	margin-right: -20vw;
}

.im2 {
	width: 110%;
	margin-left: -5vw;
	margin-bottom: -15vh;
	z-index: 1;
}

.im3 {
	width:50%;
	margin-top: 10vh;
}

.text1 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	letter-spacing: 5px;
	margin-top: 15vh;
	margin-right: 5vw;
	text-align: right;
}

.text2 {
	font-family: freight-text-pro, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vh;
	margin-right: -15vw;
	margin-left: 5vw;
	margin-top: 20vh;
	z-index: 2;
}

.im4 {
	width: 100%;
	margin-bottom: -15vh;
	margin-left: -15vw;
}

.im5 {
	width: 70%;
	margin-top: 5vh;
}


