body {
	font-size: 3vh;
	font-family: arial;
	cursor: url(cursor.png), auto;
}

/*HEADER (TOP BAR)*/

.nav {
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	z-index: 4;
	background-color: black;
}

.bttn {
	width: 25%;
	border-bottom: 0.2vw solid white;
	padding: 1.2vw;
	text-align: center;
	color: white;
	font-size: 2.5vh;
}

.bttn:hover {
	font-style: italic;
	cursor: pointer;
}

.bttn-dp {
	text-decoration: none;
	color: white;
}

/*FOOTER (BOTTOM BAR)*/

.footer {
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	z-index: 5;
	background-color: black;
}

.note {
	width: 50%;
	border-top: 0.2vw solid white;
	padding: 1.2vw;
	font-family: arial;
	font-size: 2.5vh;
	color: white;
}

.note-name {
	text-align: left;
}

.note-uni {
	text-align: right;
}

/*SIDE BAR CSS (LEFT-HAND SIDE)*/

.sidebar {
	width: 30%;
	height: 103vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
	border-right: 0.2vw solid white;
}

.title {
	font-family: arial black;
	font-size: 8vh; 
	text-align: left;
	margin-left: 2vw;
	margin-top: 11vh;
	color: white;
	filter: blur(0.3vh);
	transform: skew(-4deg);
}

/*ABOUT TAB*/

.about {
	width:70%;
	height: 90vh;
	padding:3vw;
	background-color: black;
	color: white;
	position:fixed;
	top:6vh;
	right:-75vw;
	transition: 2s;
	z-index: 1;
}

.about.active {
	transition: 2s;
	top:6vh;
	right:0px;
}

.header {
	text-align: left;
	font-size: 4vh;
	padding-bottom: 2vw;
	filter: blur(0.2vh);
}

.body {
	text-align: left;
	font-size: 2.7vh;
	width: 70%;
	line-height: 3.6vh;
}

/*FILTER TAB*/

.filter {
	width:35vw;
	height: 35vh;
	background-color: cadetblue;
	transform: rotate(-7deg);
	position:fixed;
	top: 60vh;
	right: 105vw;
	display: flex;
	flex-wrap:wrap;	
	padding-right: 7vh;
	z-index: 6;
	border: 0.2vw solid white;
	padding-left: 15vh;
	transition: 2s;
	padding-top:3vh;
	padding-bottom:3vh;
}

.filter.active {
	transition: 2s;
	top:50vh;
	right:70vw;
}

.btn {
	text-transform: uppercase;
	font-size: 2vh;
	letter-spacing: 0.1vw;
	color: black;
	width: 50%;
	text-align: center;
	font-family: arial;
}

.btn:hover {
	cursor: pointer;
	color: yellow;
}

.btn:active {
	color: white;
}

.filt-header {
	text-align: center;
	width: 100%;
	font-family: arial;
	font-size: 2.5vh;
	padding-bottom: 2vh;
	text-transform: uppercase;
	letter-spacing: 0.1vw;
	color: white;
	filter: blur(0.15vh);
}

.btn-reset {
	width: 100%;
}

.a:link {
	text-decoration: none;
}

/*MORE TAB*/

.more {
	width:70%;
	height: 103vh;
	padding:3vw;
	background-color: black;
	color: white;
	position:fixed;
	top:6vh;
	right:-75vw;
	transition: 2s;
	z-index: 3;
}

.more.active {
	transition: 2s;
	top:6vh;
	right:0px;
}



/*IMAGE CSS (RIGHT-HAND SIDE)*/

.main {
	width: 70%;
	height: 90vh;
	position: fixed;
	top: 7vh;
	right: 0;
	overflow: scroll;
	background-color: black;
}

.container {
	display: flex;
	flex-wrap:wrap;
	background-color: black;
	padding-bottom: 3vh;
}

.item {
	width:33%;
	padding: 5vh;
	font-family: courier;
	font-size: 2vh;
	text-align: center;
	color: white;
	filter: grayscale(100);
	line-height: 3vh;
}

.item img {
	width: 100%;
}

.item:hover {
	filter: none;
	transition: 0.2s;
}

.item.hide {
	display: none;
}


